.signup {
    &__form {
        background-color: white;
        
    }
    &__text {
        color: black;
        font-size: 1.2rem;
        width: 90%;
        text-align: start;
    }
    &__cnt {
        &__title {
            background-color: $light-blue;
            box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
        }
        &__submit {
            
        }
    }
}