.error {
    &__dash {
        border-radius: 1rem;
    }
    &__error {
        width: 70%;
        background-color: #e22120;
        margin: 0% 0;
        //padding: 2%;
        text-align: center;
        animation-delay: 0.5s;
        animation: fadeInDown 2s;
        &--transparent {
            //background-color: transparent;
            background-color: white;
        }

        &--text {
            font-size: 0.8rem;
            color: white;
            margin: 2% 0;
            @media (min-width: $tablet-bkp) {
                font-size: 1rem;
            }
            @media (min-width: $desktop-bkp) {
                font-size: 1.2rem;
            }
        }
        &--dash {
            color: white;
        }
        &--border {
            border: 0.1rem solid #e22120;
        }
    }
    &__text {
        &--dash {
            color: white;
        }
    }
    &__icon {
        font-size: 2.4rem;
        @media (min-width: $tablet-bkp) {
            font-size: 3rem;
        }
        & path {
            fill: white;
        }
    }
}