.nav {
    &__root {
        z-index: 0;
        position: fixed;
        opacity: 1;
        display: flex;
        width: 0;
        height: 10vh;
        transition: width height 0.5s ease;
        transition: height 0.5s ease;
        transition: opacity background-color .5s ease;

        @media (min-width: $tablet-bkp) {
            height: 100vh;
        }
    }

    &__cnt {

        //Nav close and open nav block
        &-activate {
            z-index: 2;
            //padding: 4vw;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 20vw;
            transition: width 0.5s ease;
            

            @media (min-width: $tablet-bkp) {
                width: 9vw;
            }

            &__icon {
                width: 20vw;
                height: 4vw;
                
                @media (min-width: $tablet-bkp) {
                    width: 9vw;
                }
                //transition: opacity 0.5s ease;
                &:hover {
                    opacity: 0.5;
                    cursor: pointer;
                }

                &-cnt {
                    padding: 0;
                    background-color: white;
                    border: white;
                    border-right: 0.0625rem solid $nav-background-low-opacity;
            border-bottom: 0.0625rem solid $nav-background-low-opacity;
                    width: 20vw;
                    transition: width 0.5s ease;

                    @media (min-width: $tablet-bkp) {
                        width: 9vw;
                    }

                    &:hover {
                        cursor: pointer;
                    }
                }
            }
        }

        //Nav block with the links info
        &-open {
            transition: position 0.5s ease;
            transition: width 0.5s ease;
            transition: transform .5s ease;
            background-color: white;
            height: 100vh;
            z-index: -1;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            transform: translateX(-100vw);
            width: 100vw;

            &__info {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 100%;
                //position: fixed;
                z-index: 1;
                height: inherit;
            }

            &__header {
                height: calc(100vh / 3);
                display: flex;
                align-items: center;
                justify-content: center;
            }

            &__logo {
                font-size: 3rem;
                @media (min-width: $tablet-bkp) {
                    font-size: 3rem;
                }
            }

            &__links {
                width: 100vw;
                display: flex;
                justify-content: space-around;

                &-cnt {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: calc(100vh / 3);
                    width: 90vw;

                    @media (min-width: $tablet-bkp) {
                        width: 100%;
                    }
                    @media (min-width: $desktop-bkp) {
                       
                    }
                }

                &--link {
                    color: black;
                    padding: 0.2rem 0;
                    font-size: 2.1rem;
                    transition: font-size 0.5s ease;
                    transition: text-decoration 0.5s ease;
                    text-underline-offset: var(--offset, 0.2em);
                    --offset: 0.4em;
                    text-decoration: underline 0.15rem rgba(255, 255, 255, 0);
                    transition: text-underline-offset 0.3s, text-decoration-color 0.3s;
                    @media (min-width: $tablet-bkp) {
                        font-size: 2.3rem;
                    }
                    &:hover {
                        text-decoration-color: $extra-color;
                        text-underline-offset: 0.4em;
                    }

                }
            }

            &__social-links {
                display: flex;
                align-items: center;
                justify-content: center;

                &-cnt {
                    height: calc(100vh / 3);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                &--link {
                    font-size: 4rem;
                    margin: 0 2rem;
                    color: black;
                    transition: color 0.3s ease;

                    &:hover {
                        color: $extra-color;
                    }
                }
            }
        }
    }
}

.add-background {
    background-color: $nav-background-low-opacity;
}

.full-height {
    height: 100vh;
}

.width-40 {
    width: 40vw;
}

.position-absolute {
    position: absolute;
}

.beige-active-underline {
    text-decoration: underline 0.15rem;
    text-decoration-color: $extra-color;
    text-underline-offset: 0.4em;
}

@include slide-animation-mixin(slide-in, -100%, 0);