.nav {
    &__root {
        z-index: 0;
        position: fixed;
        opacity: 1;
        display: flex;
        width: 0;
        transition: width 1s ease;
        height: 10vh;
        @media (min-width: $tablet-bkp) {
            height: 100vh;
        }
            
    }

    &__cnt {

        //Nav close and open nav block
        &-activate {
            z-index: 2;
            //padding: 4vw;
            background-color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            border-right: 0.0625rem solid $nav-background-low-opacity;

            &__icon {
                width: 4vw;
                height: 4vw;
                //transition: opacity 0.5s ease;
                &:hover {
                    opacity: 0.5;
                    cursor: pointer;
                }
                &-cnt {
                    background-color: transparent;
                    border: 0;
                    width: 9vw;
                    &:hover {
                        cursor: pointer;
                    }
                }
            }
        }

        //Nav block with the links info
        &-open {
            //animation: slide-in 2s ease;  
            background-color: white;
            height: 100vh;
            z-index: -1;
            display: flex;
            transform: translateX(-60vw);
            &__info {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 40vw;

            }



            &__header {}

            &__logo {}

            &__links {
                &-cnt {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                &--link {}
            }

            &__social-links {
                display: flex;
                align-items: center;
                justify-content: center;

                &-cnt {}

                &--link {}
            }
        }
    }
}

.add-background {
    background-color: $nav-background-low-opacity;
}

@include slide-animation-mixin(slide-in, -100%, 0);