$nav-background-low-opacity: rgba(165, 165, 165, 0.6);
$beige: #DBC39A;
$brown: #6F5B3E;
$low-beige: #e9dac4;


$dark-blue: #2b2d42;
$light-blue: #525572;
$light-color: #002E57;
$dark-color: #00203e;

$extra-color: #f48c06;
$extra-color-2: #4cc9f0;
