.login {
    &__root {
        display: flex;
        width: 100%;
        height: 100vh;
        overflow: hidden;
        flex-direction: column;
        @media (min-width: $tablet-bkp) {
            //flex-direction: row;
        }
    }
    &__cnt {
        transition: height 1s ease;
        &--left {
            display: flex;
            justify-content: center;
            align-items: flex-end;
            width: 100%;
            background-color: $light-blue;

            color: black;
            height: 25vh;
            border-bottom: 1rem solid white;
            /*
            @media (min-width: $tablet-bkp) {
                justify-content: flex-end;
                align-items: center;
                width: 35%;
                height: 100vh;
            }
            */
        }
        &--right {
            display: flex;
            justify-content: center;

            width: 100%;
            background-color: white;
            color: black;
            height: 75vh;
            background-image: url("https://res.cloudinary.com/develop-daniel/image/upload/c_scale,e_vectorize,h_306,q_100/v1657080241/3d-pastel-piggy-bank-isolated-on-white-background-abstract-with-gold-picture-id1224746290_q2ryfx.jpg");
            background-repeat: repeat-x;
            background-size: 140% 100%;
            border-top: 1rem solid white;

            /*
            background-position: 50% 50%;
            @media (min-width: $tablet-bkp) {
                background-position: 20% 50%;
            }
            @media (min-width: $desktop-bkp) {
                background-position: 0% 50%;
            }*/
        }
    }
    &__sub-cnt {
        width: 85%;
        height: 80%;
        box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
        &--left {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            background-color: $dark-blue;
            //box-shadow: $brown -5px 5px 10px;
            transition: .5s ease-in-out;
            width: 70%;

            height: 20vh;
            transition: transform .5s ease;
            transition: z-index 0.5s ease;
            transition: opacity 0.5s ease;
            opacity: 1;
            color: white;
            //transform: translateY(20%);
            @media (min-width: $tablet-bkp) {
                width: 60%;
                //transform: translateY(0);
                top: 0;
                height: 80%;
            }
            @media (min-width: 1400px) {
                width: 50%;
            }
            //Konrad logo
            & svg path {
                fill: #fff;
            }
        }
        &--right {
            margin: 0;
            padding: 0;
            height: 95%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: white;
            transition: .5s ease-in-out;
            width: 70%;
            @media (min-width: $tablet-bkp) {
                height: 95%;
                width: 60%;
            }
            @media (min-width: 1400px) {
                width: 50%;
            }
            //&:hover {transform: translateX(35%); }
        }
        &__cnt {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 70%;
            height: 5rem;
            margin-bottom: 10%;
            @media (min-width: $tablet-bkp) {
                height: 7.5rem;
                margin-bottom: 2.5%;
            }
        }
        &__title {
            font-size: 2rem;
            margin: 0;
            transition: letter-spacing 1s;

            text-align: center;
            width: 100%;
            @media (min-width: $tablet-bkp) {
                font-size: 3rem;
            }
            @media (min-width: $desktop-bkp) {
                width: 90%;
            }
            @media (min-width: 1392px) {
                width: 70%;
            }
            &:hover {
                letter-spacing: 3px;
                @media (min-width: $tablet-bkp) {
                }
                @media (min-width: $desktop-bkp) {
                    letter-spacing: 8px;
                }
            }
        }
        &__subtitle {
            font-size: 2rem;
            margin: 0;
            margin-top: 1rem;
            @media (min-width: $tablet-bkp) {
                font-size: 2.2rem;
            }
        }
        &__lbl {
            font-size: 1.2rem;
            margin-bottom: 1rem;
            @media (min-width: $tablet-bkp) {
                font-size: 1.4rem;
            }
        }
        &__inp {
            width: 100%;

            padding: 4% 2.5%;
            margin-top: 0.4rem;
            margin-bottom: 0.4rem;
            font-size: 1rem;
            border: 0.0625rem solid black;
            border-radius: 5px;
            @media (min-width: $tablet-bkp) {
                font-size: 1.2rem;
                padding: 2% 2.5%;
            }
        }
        &__submit {
            width: 70%;
            background-color: $extra-color;

            font-size: 1.2rem;
            color: white;
            border: 0;
            border-radius: 5px;
            border: 0.2rem solid $extra-color;
        }
    }
}

.fixed-title-cnt {
    position: fixed;
    top: 20%;
}
.transform-y-20 {
    transform-style: preserve-3d;
    transform: translateY(30%);
}
.z-index-minus-1 {
    z-index: -1;
    opacity: 0;
}

@keyframes waviy {
    0%,
    40%,
    100% {
        transform: translateY(0);
    }
    20% {
        transform: translateY(-20px);
    }
}
