//For navbar
.slide-in-100 {
    transform: translateX(0);
    
    animation: slide-in-100 1s ease; 
    

}
.slide-out-100 {
    animation: slide-out-100 1s ease;  
    
    transform: translateX(-100vw);

}
.slide-in-40 {
    transform: translateX(0);
    animation: slide-in-40 1s ease; 
}
.slide-out-40 {
    animation: slide-out-40 1s ease;  
    //transform: translateX(-40vw);

}


.add-opacity-background {
    background-color: $nav-background-low-opacity;
    animation: opacity-in 1s ease ; 
    width: 100vw;
}
.remove-opacity-background {
    //animation-delay: 1s;
    animation: back-out 1s ease;
}

@include opacity-animation-mixin(opacity-in, 0, 1);
@include opacity-animation-mixin(opacity-out, 1, 0);
//Slides
@include slide-animation-mixin(slide-in-100, -100vw, 0);
@include slide-animation-mixin(slide-out-100, 0, -100vw);
@include slide-animation-mixin(slide-in-40, -40vw, 0);
@include slide-animation-mixin(slide-out-40, 0, -40vw);
//Background
@include background-opacity-animation-mixin(back-out);
@keyframes fadeInDown {
    0% {
       opacity: 0;
       transform: translateY(-20px);
    }
    100% {
       opacity: 1;
       transform: translateY(0);
    }
 }