.dash-menu {
    &__root {
        display: flex;

        width: 100vw;
        position: fixed;
        height: 88vh;
        top: 12vh;

        transition: height 0.5s ease;
        transform: translateX(-100vw);
        transition: transform 0.5s ease;
        transition: width 0.5s ease;
        @media (min-width: $tablet-bkp) {
            height: 100vh;
            top: 0;
            width: 20vw;
            transform: translateX(0);
        }
    }
    &__cnt {
        width: 50vw;
        transition: width 0.5s ease;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @media (min-width: $tablet-bkp) {
            width: 20vw;
        }
        &--links {
            background-color: $light-blue;
        }
        &--background {
            background-color: $light-blue;
            opacity: 0.3;
            @media (min-width: $tablet-bkp) {
                width: 0;
            }
        }
    }
    &__opt-cnt {
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: background-color 0.5s ease;
        transition: color 0.5 ease;
        height: calc(88vh/6);
        @media (min-width: $tablet-bkp) {
            height: 12vh;
        }
        &:hover {
            opacity: 0.8;
        }
        &__img {
            width: 4.5rem;
            height: 4.5rem;
            border-radius: 50%;
            @media (min-width: 500px) {
                width: 5rem;
                height: 5rem;
            }
            
        }
        &__icon {
            font-size: 2rem;
        }
    }
}

.active-dash-link {
    background-color: white;
    color: black;
}
